<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<php>
		<const name="DOING_TESTS" value="1" />
	</php>
	<testsuites>
		<testsuite name="WP_Lock concurrency mutexes for WordPress test suite">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
